<div class="about-container">
  <h2 class="title">Acerca de</h2>

  <div class="about-box">
    <p>
      Connect29, es una aplicación web diseñada para facilitar y optimizar los procesos de la norma ISO 29110.
      El objetivo es ofrecer una herramienta que permite a las organizaciones mejorar su gestión de proyectos y
      asegurar la calidad en sus procesos mediante la certificación de la norma. 
    </p>
  </div>

  <div class="about-box">
    <p class="center-text">
      Aplicación desarrollada como modalidad de trabajo de grado
    </p>
    <p class="center-text">
      Aplicación Desarrollada Por:<br />
      Emili Andrea Muelas,<br />
      Danny Alejandro Parra
    </p>
    <p class="center-text">
      Asesor: Dayner Felipe Ordoñez
    </p>
  </div>

  <div class="image-container">
    <img src="assets/img/inicio_logo.jpg" alt="imagen_ux" />
  </div>

  <button class="back-button" (click)="cerrarAcercaDe()">
    <span class="material-icons icon">arrow_back</span>
    <span><strong>Atrás</strong></span>
  </button>
</div>