<div class="about-container">
  <h2 class="title">Acerca de</h2>

  <div class="about-box">
    <p>
      En Connect29, somos una aplicación web diseñada para facilitar y optimizar los procesos de la norma ISO 29110.
      Nuestro objetivo es ofrecer una herramienta que permite a las organizaciones mejorar su gestión de proyectos y
      asegurar la calidad en sus procesos mediante la certificación de la norma. Con un enfoque en la simplicidad,
      además estamos comprometidos en ayudar a nuestros usuarios a alcanzar la excelencia en sus proyectos, promoviendo
      un entorno de trabajo colaborativo.
    </p>
  </div>

  <div class="about-box">
    <p>
      Aplicacion desarrollada como modalidad de trabajo de grado<br />
      Aplicacion Desarrollada Por: Emili Andrea Muelas y Danny Alejandro Parra<br />
      Director: Dayner Orñoñez
    </p>
  </div>

  <button class="back-button" (click)="cerrarAcercaDe()">Atrás</button>
</div>