.generar-reporte-container {
  display: flex;
}

.sidebar {
  width: 100px;
  background-color: #f8f9fa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu-button {
    position: fixed;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #999;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;

    nav {
      a {
        color: white;
        text-decoration: none;
        margin-right: 20px;
      }
    }

    .search-bar {
      display: flex;
      align-items: center;

      input {
        padding: 5px;
        margin-right: 10px;
      }

      button {
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;  // Ajusta el ancho de la imagen según tus necesidades
          height: 40px; // Ajusta la altura de la imagen según tus necesidades
        }
      }
    }
  }
}

.generar-reporte-header {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 250px;

  h2 {
    color: #4285f4;
    font-size: 24px;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: #333;
    transition: color 0.3s;

    &:hover {
      color: #357ae8;
    }

    .material-icons {
      font-size: 30px;
    }
  }
}

.generar-reporte-body {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 100px;
}

.parametros-section {
  flex: 1;
  max-width: 40%;

  h3 {
    font-size: 20px;
    color: #4285f4;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-size: 14px;
      color: #555;
      display: block;
      margin-bottom: 5px;
    }

    input, select {
      width: 70%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
      color: #333;
      box-sizing: border-box; 

      &:focus {
        border-color: #4285f4;
        outline: none;
      }
    }
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 5px 10px;
      margin: 0 auto;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s;

      &.btn-reporte {
        background-color: #10aad9;

        &:hover {
          background-color: #2f75af;
        }
      }

      &.btn-avance {
        background-color: #1e82a0;

        &:hover {
          background-color: #2f75af;
        }
      }

      &.btn-reset {
        background-color: #24a8f5;

        &:hover {
          background-color: #2b8ecf;
        }
      }

      &.btn-download {
        background-color: #4285f4;

        &:hover {
          background-color: #357ae8;
        }
      }
    }
  }
}

.reporte-section {
  width: 80%;
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin-right: 50px;

  h3 {
    font-size: 20px;
    color: #4285f4;
    text-align: center;
    margin-bottom: 15px;
  }

  .reporte-info {
    margin-bottom: 20px;

    p {
      margin: 5px 0;
      font-size: 14px;
      color: #555;

      strong {
        color: #333;
      }
    }
  }

  .graficos-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .grafico-torta, .grafico-barras {
      flex: 1;
      height: 200px;
      background-color: #f5f5f5;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .tabla-entregables {
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
      }

      th {
        background-color: #4285f4;
        color: white;
      }
    }
  }
}
