.container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;

  app-navbar {
    width: 100%;
  }

  .detalle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: auto;

    h2 {
      margin-bottom: 20px;
      color: #2979ff;
    }

    form {
      width: 100%;

      .form-group {
        width: 100%;
        margin-bottom: 20px;


        label {
          display: block;
          margin-bottom: 8px;
          color: rgba(0, 0, 0, 0.7);
          font-size: 14px;
          font-weight: 500;
          margin: 0 30px;
        }

        select,
        input,
        textarea {
          width: 100%;
          padding: 10px;
          margin: 0 30px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 14px;
          box-sizing: border-box;
          background-color: white;
        }

        textarea {
          height: 100px;
          resize: none;
          max-width: 100%;
        }
      }

      .btn-cerrar {
        width: 100%;
        padding: 12px;
        margin: 0 30px;
        background-color: #d9534f;
        color: white;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #c9302c;
        }
      }
    }
  }
}