<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-navbar></app-navbar>

    <div class="detalle-container">
      <div class="detalle-modal-content">
        <h2>Detalle Proyecto</h2>
        <button (click)="volver()" class="icon-button">
          <span class="material-icons">arrow_back</span>
        </button>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" [(ngModel)]="proyecto.nombre" name="nombre" />
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" [(ngModel)]="proyecto.descripcion" name="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label for="fecha_inicio">Fecha de Inicio</label>
            <input type="date" id="fecha_inicio" [(ngModel)]="proyecto.fecha_inicio" name="fecha_inicio" />
          </div>
          <div class="form-group">
            <label for="fecha_fin">Fecha de Fin</label>
            <input type="date" id="fecha_fin" [(ngModel)]="proyecto.fecha_fin" name="fecha_fin" />
          </div>
          <div class="form-group">
            <label for="responsable">Responsable</label>
            <input type="text" id="responsable" [(ngModel)]="proyecto.responsable" name="responsable" />
          </div>
          <button (click)="cerrar()" type="button" class="btn-cerrar">
            <span class="material-symbols-outlined">
              cancel
            </span>
            <strong>Cerrar</strong>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>