<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-navbar></app-navbar>

    <div class="content">

      <div class="title-container">
        <button (click)="volver()" class="icon-button">
          <span class="material-icons">arrow_back</span>
        </button>
        <h1 class="page-title">Gestión de Entregables</h1>
      </div>

      <!-- Barra de búsqueda -->
      <div class="search-container">
        <div class="search-bar">
          <input type="text" [(ngModel)]="filtroBusqueda" placeholder="Buscar por nombre o código..." />
          <button (click)="filtrarEntregables()">
            <span class="material-symbols-outlined">
              search
            </span>
            <strong>Buscar</strong>
          </button>
        </div>
      </div>

      <!-- Tabla de Entregables -->
      <table class="entregables-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Codigo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(entregable of entregablesFiltrados; track entregable.id){
          <tr>
            <td>{{ entregable.nombre }}</td>
            <td>{{ entregable.descripcion }}</td>
            <td>{{ entregable.estado }}</td>
            <td>{{ entregable.fecha_creacion }}</td>
            <td>{{ entregable.codigo }}</td>
            <td>
              <div class="button-marco">
                <div class="btn-group">
                  <button class="detalles-button" (click)="abrirDetalles(entregable.id)">
                    <span class="material-symbols-outlined">
                      description
                    </span>
                    <strong>Detalles</strong>
                    </button>
                  <button class="subir-button" (click)="subirEntregable(entregable)">
                    <span class="material-symbols-outlined">
                      upload
                    </span>
                    <strong>Subir</strong>
                  </button>
                  <button class="ver-button" (click)="verDocumento(entregable)">
                    <span class="material-symbols-outlined">
                      folder_eye
                    </span>
                    <strong>Ver</strong>
                    </button>
                  @if(role === 'admin') {
                  <button class="editar-button" (click)="abrirModalEditar(entregable)">
                    <span class="material-symbols-outlined">
                      edit
                    </span>
                    <strong>Editar</strong>
                  </button>
                  <button class="eliminar-button"(click)="eliminarEntregable(entregable.id)">
                    <span class="material-symbols-outlined">
                      delete
                    </span>
                    <strong>Eliminar</strong>
                  </button>
                  }
                </div>
              </div>
            </td>
          </tr>
          }

        </tbody>
      </table>

      <!-- Botones de Acción -->
      <div class="action-buttons">
        <button (click)="generarReporte()">
          <strong>Generar Reporte</strong></button>
        @if(role === 'admin') {
        <button class="btn btn-primary" (click)="crearEntregableConDatos()">
          <strong>Crear Entregable</strong></button>
        }
      </div>
    </div>

    @if(mostrarModalEditar){
    <!-- Modal para editar entregable -->
    <div class="edit-modal">
      <div class="edit-modal-content">
        <span class="close" (click)="cancelarEdicion()">&times;</span>
        <h2>Editar Entregable</h2>
        <form (ngSubmit)="guardarCambios()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" [(ngModel)]="entregableEditar.nombre" name="nombre" required />
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" [(ngModel)]="entregableEditar.descripcion" name="descripcion"
                      required></textarea>
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select id="estado" [(ngModel)]="entregableEditar.estado" name="estado" required>
              <option value="Pendiente">Pendiente</option>
              <option value="Revisado">Revisado</option>
              <option value="Aprobado">Aprobado</option>
              <option value="Desaprobado">No Aprobado</option>
            </select>
          </div>
          <div class="button-group">
            <button type="submit" class="save-button">
              <span class="material-symbols-outlined">
                save
                </span>
                <strong>Guardar</strong>
              </button>
            <button type="button" class="cancel-button" (click)="cancelarEdicion()">
              <span class="material-symbols-outlined">
                cancel
                </span>
                <strong>Cancelar</strong></button>
            </div>
        </form>
      </div>
    </div>
    }

    @if(mostrarModalEliminar){
    <!-- Modal para eliminar entregable -->
    <div class="delete-modal">
      <div class="delete-modal-content">
        <span class="close" (click)="cancelarEliminacion()">&times;</span>
        <h2>Confirmar Eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar el entregable: {{ selectedEntregableEliminar?.nombre }}?</p>
        <div class="button-group">
        <button (click)="confirmarEliminacion()">
          <span class="material-symbols-outlined">
            delete
          </span>
          <strong>Eliminar</strong>
        </button>
        <button (click)="cancelarEliminacion()">
          <span class="material-symbols-outlined">
            cancel
          </span>
            <strong>Cancelar</strong></button>
        </div>
      </div>
    </div>
    }

    @if(mostrarModalSubir){
    <!-- Modal para subir entregables -->
    <div class="subir-modal">
      <div class="subir-modal-content">
        <span class="close" (click)="cerrarModalSubir()">&times;</span>
        <h2>Subir Entregables</h2>

        <div class="subir-entregables-body">
          <div class="action-section">
            <div class="file-upload">
              <label for="archivo">Subir Archivo</label>
              <input type="file" id="archivo" accept="application/pdf" (change)="onFileSelected($event)">
              <button class="btn-submit" (click)="onSubmit()">
                <span class="material-symbols-outlined">
                  upload
                </span>
                <strong>Subir</strong>
              </button>
            </div>
          </div>
        </div>

        <div class="button-container">
          <button class="btn-atras" (click)="cerrarModalSubir()">
            <span class="material-icons icon">arrow_back</span>
            <span><strong>Atrás</strong></span>
            </button>
        </div>
      </div>
    </div>
    }

    @if(mostrarModalVer){
    <!-- Modal para ver el documento PDF -->
    <div class="ver-modal">
      <div class="ver-modal-content">
        <span class="close" (click)="cerrarModalVer()">&times;</span>
        <h2>Ver Documento</h2>

        @if(cargandoDocumento){
        <div class="spinner">
          <p>Cargando documento...</p>
          <div class="spinner-border" role="status">
            <span class="sr-only">Cargando...</span>
          </div>
        </div>
        }

        @if(!cargandoDocumento && documentoUrl){
        <iframe title="Ver Documento" [src]="documentoUrl" width="100%" height="500px"></iframe>
        }@else {
        <p>No hay documento disponible</p>
        }

        <div class="button-container">
          <button class="btn-cerrar" (click)="cerrarModalVer()">
            <span class="material-symbols-outlined">
              cancel
            </span>
              <strong>Cerrar</strong>
          </button>
        </div>
      </div>
    </div>
    }

  </div>

</div>