<div class="container">
  <div class="sidebar" [class.closed]="menuCerrado">
    <button class="menu-button" (click)="toggleMenu()">☰</button>
    <ul>
      <li>
        <button [routerLink]="['/crearproyecto']">
          <span class="icon">
            <img src="assets/icons/icono_crear_proyecto.png">
          </span>
          Crear Proyecto
        </button>
      </li>
      <li>
        <button [routerLink]="['/usuarios']">
          <span class="icon">
            <img src="assets/icons/icono_crear_usuario.png">
          </span>
          Crear Usuario
        </button>
      </li>
      <li>
        <button [routerLink]="['/roles']">
          <span class="icon">
            <img src="assets/icons/icono_crear_rol.png">
          </span>
          Asignar Roles
        </button>
      </li>
      <li>
        <button [routerLink]="['/inicio-sesion']">
          <span class="material-icons">logout</span>
          Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>


  <div class="main-content">
    <div class="navbar">
      <nav>
        <a routerLink="/home">Inicio</a>
        <a routerLink="/proyectos">Proyectos</a>
      </nav>
      <div class="search-bar">
        <input type="text" placeholder="Buscar">
        <button (click)="irABuscar()" class="icon-button">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>


    <div class="modal" *ngIf="mostrarModalEliminar">
      <div class="modal-content">
        <span class="close" (click)="cancelarEliminacion()">&times;</span>
        <h2>Confirmar Eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar el entregable: {{ selectedEntregableEliminar?.nombre }}?</p>
        <button (click)="confirmarEliminacion()">Eliminar</button>
        <button (click)="cancelarEliminacion()">Cancelar</button>
      </div>
    </div>


    <!-- Tabla de Entregables -->
    <table class="entregables-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entregable of entregables; trackBy: trackById">
          <td>{{ entregable.numeroId}}</td>
          <td>{{ entregable.nombre }}</td>
          <td>{{ entregable.descripcion }}</td>
          <td>{{ entregable.estado }}</td>
          <td>{{ entregable.fecha }}</td>
          <td>
            <button (click)="editarEntregable(entregable.id)">Editar</button>
            <button (click)="eliminarEntregable(entregable.numeroId, entregable.nombre)">Eliminar</button>
            <button (click)="abrirDetalles(entregable.id)">Detalles</button>
            <button (click)="subirEntregable()">Subir</button>
          </td>
        </tr>

      </tbody>
    </table>

    <!-- Botones de Acción -->
    <div class="action-buttons">
      <button (click)="generarReporte()">Generar Reporte</button>
      <button class="btn btn-primary" (click)="crearEntregableConDatos()">Crear Entregable</button>
    </div>
  </div>
</div>