<div class="sidebar" [class.closed]="menuCerrado">
  <button class="menu-button" (click)="toggleMenu()">☰</button>
  <ul>
    @if(role === 'admin') {
    <li>
      <button [routerLink]="['/crearproyecto']">
        <span class="icon">
          <img src="assets/icons/icono_crear_proyecto.png" alt="icono_crear_proyecto">
        </span>
        <span>Crear Proyecto</span>
      </button>
    </li>
    <li>
      <button [routerLink]="['/crear-usuario']">
        <span class="icon">
          <img src="assets/icons/icono_crear_usuario.png" alt="icono_crear_usuario">
        </span>
        <span>Crear Usuario</span>
      </button>
    </li>
    }
    <li>
      <button (click)="abrirAcercaDe()">
        <span class="icon">
          <img src="assets/icons/icono_acerca_de.png" alt="icono_acerca_de">
        </span>
        <span>Acerca de</span>
      </button>
    </li>
    <li>
      <button [routerLink]="['/inicio-sesion']">
        <span class="material-icons icon">logout</span>
        <span>Cerrar Sesión</span>
      </button>
    </li>
  </ul>

  <div class="logo-img">
    <img src="assets/img/imagen_logo.jpg" alt="logo-connect">
  </div>
</div>