.crear-usuario-container {
  display: flex;

 /* padding: 20px;
  width: 400px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: left;
  font-family: 'Arial', sans-serif;*/
}
 .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    transition: width 0.3 ease;
    overflow: hidden;

    &.closed {
      width: 50px;
      ul, .logo-img {
        opacity: 0;
        transition: opacity 0.3 ease;
      }
    }

    
    .menu-button {
      position: fixed;
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px 20px;
    }

    
    .icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
    }

    .icon img {
      width: 16px;
      height: auto;
    }

    button {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
    }

    ul li {
      margin-bottom: 15px;
    }

    
    ul {
      list-style: none;
      padding: 0;
      position: fixed;
      top: 60px;
  
      li {
        margin: 10px 0;
  
        button {
          background: none;
          border: none;
          cursor: pointer;
          padding-left: 10px;
          text-align: left;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
  
      nav {
        a {
          color: white;
          text-decoration: none;
          margin-right: 20px;
        }
      }
  
      .search-bar {
        display: flex;
        align-items: center;
  
        input {
          padding: 5px;
          margin-right: 10px;
        }
  
        button {
          background: none;
          border: none;
          color: white;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
  
          img {
            width: 40px;  // Ajusta el ancho de la imagen según tus necesidades
            height: 40px; // Ajusta la altura de la imagen según tus necesidades
          }
        }
      }
    }

.crear-usuario-header {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 50px;
}
  
.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
  
.icon-button:hover {
  color: #007bff;
}

  h2 {
    white-space: nowrap;
    text-align: center;
    color: #2979ff;
  }

  .form-group {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 400px;
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      box-sizing: border-box;
    }

    .password-wrapper {
      position: relative;
      display: flex;
      align-items: center;

      input {
        flex: 1;
        padding-right: 5px; // Espacio suficiente para el ícono sin afectar el campo de texto
        border-radius: 4px;
      }

      .toggle-password {
        position: absolute;
       right: 50px;  // Icono a la derecha del input
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
          font-size: 20px;
          color: #ccc;
          transition: color 0.3s ease;
        }

        &:hover mat-icon {
          color: #4285f4;
        }
      }
    }
  }

  button {
    width: 10%;
    padding: 12px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 550px;

    &:hover {
      background-color: #357ae8;
    }
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;

    a {
      color: #4285f4;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  }