<div class="crear-usuario-container">
  <div class="crear-usuario-header">
    <button (click)="irHome()" class="icon-button">
      <span class="material-icons">home</span>
    </button>
    <h2>Crear Usuario</h2>
    <button (click)="volver()" class="icon-button">
      <span class="material-icons">arrow_back</span>
    </button>
  </div>
    <form (ngSubmit)="registrarse()">
      <div class="form-group">
        <label for="nombreCompleto">Nombre Completo</label>
        <input type="text" id="nombreCompleto" name="nombreCompleto" [(ngModel)]="usuario.nombre" required />
      </div>
      <div class="form-group">
        <label for="correoElectronico">Correo Electrónico</label>
        <input type="email" id="correoElectronico" name="correoElectronico" [(ngModel)]="usuario.correo" autocomplete="username" required />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <div class="password-wrapper">
          <input id="password" name="password" [type]="passwordFieldType" [(ngModel)]="usuario.password" placeholder="Ingresa tu contraseña" autocomplete="current-password" />
          <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
      </div>
      <button type="button" (click)="registrarse()">Registrarse</button>
    </form>
    <div class="footer">
      <p>¿Tienes una cuenta registrada? <a routerLink="/inicio-sesion">Inicia sesión</a></p>
    </div>
  