.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;

  nav {
    display: flex;
    align-items: center;

    a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
    }

    .logo-img{
      margin-left: 900px;

      img {
        height: 25px;
        width: auto;
      }
    }
  }     
}
