<div class="detalle-entregable-container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <app-navbar></app-navbar>
    <div class="detalle-entregable-header">
      <button (click)="volver()" class="icon-button">
        <span class="material-icons">arrow_back</span>
      </button>
      <h2>Detalles Del Entregable</h2>

    </div>
    <form class="detalles-form">
      <div>
        <label for="id">Id</label>
        <input id="id" type="text" [value]="entregable.numeroId" readonly>
      </div>

      <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" [value]="entregable.nombre" readonly>
      </div>

      <div>
        <label for="descripcion">Descipcion</label>
        <input id="descripcion" type="text" [value]="entregable.descripcion" readonly>
      </div>

      <div>
        <label for="fecha">Fecha</label>
        <input id="fecha" type="text" [value]="entregable.fecha" readonly>
      </div>

      <button (click)="cerrarDetalles()">Cerrar</button>
    </form>
  </div>
</div>