<div class="roles-container">
  <div class="sidebar" [class.closed]="menuCerrado"></div>
    <button class="menu-button" (click)="toggleMenu()">☰</button>
    <ul>
      <li>
        <button [routerLink]="['/crearproyecto']">
          <span class="icon">
            <img src="assets/icons/icono_crear_proyecto.png">
          </span>
          Crear Proyecto
        </button>
      </li>
      <li>
        <button [routerLink]="['/usuarios']">
          <span class="icon">
            <img src="assets/icons/icono_crear_usuario.png">
          </span>
          Crear Usuario
        </button>
      </li>
      <li>
        <button [routerLink]="['/roles']">
          <span class="icon">
            <img src="assets/icons/icono_crear_rol.png">
          </span>
          Crear Roles
        </button>
      </li>
      <li>
        <button [routerLink]="['/inicio-sesion']">
          <span class="material-icons">logout</span>
          Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>

  <div class="main-content">
    <div class="navbar">
      <nav>
        <a routerLink="/home">Inicio</a>
        <a routerLink="/proyectos">Proyectos</a>
      </nav>
      <div class="search-bar">
        <input type="text" placeholder="Buscar">
        <button (click)="irABuscar()" class="icon-button">
          <span class="material-icons">search</span>
        </button>
      </div>
    </div>

    
    <div class="roles-header">
      <button (click)="volver()" class="icon-button">
        <span class="material-icons">arrow_back</span>
      </button>
      <h2>Crear Roles</h2>
    </div>

    <form (ngSubmit)="crearRol()">
        <div class="form-group">
            <label for="correoElectronico">Correo Electrónico</label>
            <input type="email" id="correoElectronico" name="correoElectronico" [(ngModel)]="rol.correo" required />
          </div>
        <div class="form-group">
            <label for="nombreCompleto">Nombre Usuario</label>
            <input type="text" id="nombreCompleto" name="nombreCompleto" [(ngModel)]="rol.Nom_Usuario" required />
          </div>
          <div class="form-group">
            <label for="asignacion">Asignar Roles</label>
            <select id="asignacion" name="asignacion"  [(ngModel)]="rol.Asignacion" required>
                <option value="" disabled selected>Escoga su rol</option>
                <option value="administrador">Administrador</option>
                <option value="usuario">Usuario</option>
            </select>
          </div>
        
          <button type="submit">Crear Rol</button>
    </form>
</div>
