<div class="certificado-container">
  <div class="sidebar">
    <button class="menu-button">☰</button>
  </div>
  <div class="main-content">
    <div class="navbar">
        <nav>
            <a routerLink="/home">Inicio</a>
            <a routerLink="/proyectos">Proyectos</a>
            
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button (click)="irABuscar()" class="icon-button">
                <span class="material-icons">search</span>
            </button> 
        </div>
    </div>
    <div class="header">
      <button (click)="volver()" class="icon-button">
        <span class="material-icons">arrow_back</span>
      </button>
      <h2>Certificado</h2>
    </div>
  
    <div class="content">
      <div class="certificado">
        <h3>Certificado de Cumplimiento</h3>
        <p>
          Por medio de este formato se demuestra que la empresa 
          <input type="text" placeholder="Nombre de la empresa" [(ngModel)]="nombreEmpresa"/>, 
          a cargo del proyecto 
          <input type="text" placeholder="Nombre del proyecto" [(ngModel)]="nombreProyecto"/>, 
          se le certifica por el cumplimiento de todos los entregables requeridos por la norma ISO/IEC
          29110-5, los cuales fueron cumplidos con éxito en las fechas
          comenzando con el <input type="date" [(ngModel)]="fechaInicio" />, 
          hasta la terminación del día <input type="date" [(ngModel)]="fechaFin" />, 
          dada con éxito y mediante este certificado, complementando que la empresa 
          <input type="text" placeholder="Nombre de la empresa" [(ngModel)]="nombreEmpresa" />, 
          cumple con todos los estándares de calidad, para brindar proyectos de calidad.
        </p>
        <p>
          Firma de quien certifica: ____________________<br />
          Firma del certificante: ____________________
        </p>
      </div>
  
      <div class="acciones-certificado">
        <p>
          Una vez se haya terminado el proceso del cumplimiento de los entregables
          y que estos hayan sido revisados y aprobados, podrá descargar este
          certificado que certifica que su empresa en los estándares de calidad
          soportados por la norma ISO/IEC 29110-5.
        </p>
        <button (click)="descargarCertificado()" class="btn-descargar">
          Descargar certificado
        </button>
      </div>
    </div>
    <button (click)="home()" class="btn-volver">
        Volver al inicio
      </button>
  </div>
</div>
  
