<div class="crear-proyecto-container">
  <div class="sidebar">
    <button class="menu-button">☰</button>
  </div>
  <div class="main-content">
    <div class="navbar">
        <nav>
            <a routerLink="/home">Inicio</a>
            <a routerLink="/proyectos">Proyectos</a>
           
        </nav>
        <div class="search-bar">
            <input type="text" placeholder="Buscar">
            <button (click)="irABuscar()" class="icon-button">
                <span class="material-icons">search</span>
            </button> 
        </div>
    </div>
    <div class="crear-proyecto-header">
      <button (click)="volver()" class="icon-button">
        <span class="material-icons">arrow_back</span>
      </button>
      <h2>Crear Proyecto</h2>
    </div>
      <form (ngSubmit)="guardarNuevoProyecto()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="nuevoProyecto.nombre" name="nombre">

        <label for="fecha">Fecha Inicio</label>
        <input type="date" id="fecha" [(ngModel)]="nuevoProyecto.fecha_inicio" name="fecha">

        <label for="fecha">Fecha Fin:</label>
        <input type="date" id="fecha" [(ngModel)]="nuevoProyecto.fecha_fin" name="fecha">
  
        <label for="responsable">Responsable:</label>
        <input type="text" id="estado" [(ngModel)]="nuevoProyecto.responsable" name="responsable">
        
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" [(ngModel)]="nuevoProyecto.descripcion" name="descripcion"></textarea>
  
        <button type="submit">Guardar</button>
      </form>
    </div> 
</div>
