<div class="inicio-sesion-container">
  <!-- <div class="inicio-sesion-header">
    <button *ngIf="userRole === 'Administrador'" (click)="volver()" class="icon-button">
      <span class="material-icons">arrow_back</span>
    </button>
    <h2>Iniciar Sesión</h2>
  </div> -->

  <!-- <p style="color: #999;">Digite su rol, correo y contraseña</p> -->
  <p style="color: #999;">Digite su correo y contraseña</p>
  <form>
    <!-- <div class="form-group">
      <label for="asignacion"></label>
      <select id="asignacion" name="rol" [(ngModel)]="user.rol" required aria-placeholder="Rol">
        <option value="" disabled selected> Rol</option>
        <option value="administrador">Administrador</option>
        <option value="usuario">Usuario</option>
      </select>
    </div> -->
    <div class="form-group">
      <!-- <label for="correoElectronico">Correo Electrônico</label> -->
      <input type="email" id="correoElectronico" name="correoElectronico" [(ngModel)]="user.correo" required
             placeholder="Correo" autocomplete="email" />
    </div>
    <div class="form-group">
      <!-- <label for="password">Contraseña</label> -->
      <div class="password-wrapper">
        <input type="password" id="password" [type]="passwordFieldType" [(ngModel)]="user.password" name="password"
               placeholder="Contraseña" autocomplete="new-password" />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          <mat-icon>{{ passwordFieldType === 'password' ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </div>

    <!--
    <p class="text">O continuar con:</p>

     <button class="google-sign-in-button" (click)="iniciarConGoogle()">
            <img src="https://img.icons8.com/color/512/google-logo.png" alt="Google Logo" class="google-logo"/>
            <span>Regístrate con Google</span>
          </button> -->

    <button type="submit" (click)="iniciarSesion()">Iniciar Sesión</button>
  </form>

  <div class="footer">
    <a routerLink="/restablecer-contrasena">¿Olvidó su contraseña?</a>
  </div>
</div>