.buscar-container {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    
  }
  
  .buscar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
  }
  
  .icon-button:hover {
    color: #007bff;
  }

  h2 {
    text-align: center;
    color: #2979ff;
  }
  
  .buscar-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}


  .buscar-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .buscar-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buscar-input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .buscar-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Añadido espacio entre los inputs */
  
    label {
      margin-right: 5px;
      font-size: 14px;
    }
  
    input {
      width: 150px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      outline: none;
    }
  
    input:focus {
      border-color: #2979ff;
      box-shadow: 0 0 10px rgba(41, 121, 255, 0.3);
    }
  }
  
  .buscar-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    label {
      font-size: 14px;
      margin-right: 5px;
    }
  
    select {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      outline: none;
      text-align: center;
    }
  }
  
  .buscar-categoria {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
  
    label {
      font-size: 14px;
    }
  
    input {
      margin-right: 5px;
    }
  }
  
  .buscar-resultados {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px; /* Ajusta el tamaño según tu diseño */
  }